.total_cart{
    width: 100%;
}

.cart_t{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 2px solid #0b0b7c;    
}
.image img{
    width: 150px;
}

.buttons{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    padding: 2px 5px;
    border: none;
    background-color: rgb(1, 138, 42);
    color: #fff;
    cursor: pointer;
}
.showTotal{
    text-align: center;
}
.showTotal span:nth-child(1){
    font-weight: 800;
    font-size: 1.1rem;
    margin: 5px 20px;
}
.showTotal span:nth-child(2){
    padding: 15px;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: rgb(0, 70, 28);
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}