*{
    margin: 0;
    padding: 0;
}

section {
    width: 100vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 4px 8px 17px 4px rgb(0 0 0 / 10%);
}
.card:hover{
    box-shadow: 0px 10px 10px 10px rgb(0 0 0 / 10%);

}
.image img{
    width: 250px;
}

.content button{
    padding: 5px 25px;
    background-color: rgb(16, 109, 231);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
.content p{
    margin: 10px 0;
}